/* S T A T I C F U Z Z
 *
 * Hopefully mobile/responsive.
 *
 * Colors used:
 *   - Grey: #d0ddd2
 *   - Yellow: #fff430
 *   - Magenta: #e82b7a
 *   - Green: 8fe81f
 *   - Black: #212121
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.80) ),
              url('/random_image');
  background-color: #000;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  word-break: break-all;
  font: 400 32px/1.5rem 'Averia Sans Libre';  /* total row height is 48px */
  color: #d0ddd2;
  padding: 0 60px;
  width: 100vw;
  min-height: 100vh;
}

body::after {
    /* scanlines */
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    width: 100vw;
    z-index: 3;
}

header {
  color: #e82b7a;
  display: block;
  padding-top: 3rem;
}

header p {
  line-height: 3rem;
}

header p + p {
  line-height: 3rem;
  font-size: 0.75rem;
}

h1 {
  color: #fff430;
  font-size: 3rem;
  line-height: 3rem;
}

h1 a:link,
h1 a:visited {
  color: #fff430;
  text-decoration: none;
}

h2 {
  color: #fff430;
  font-size: 138.2%;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

#memories img {
  background: #212121;
  max-width: 100%;
  float: left;
}

#memories {
  list-style-type: none;
  margin: 6rem 0;
  display: block;
}

#memories > li:before {
  content: attr(id);
  color: #fff;
  font-weight: 700;
  display: inline-block;
  line-height: 3rem;
  background: url(bullet.gif) 0 0 repeat;
  background-size: cover;
}


#memories li {
  color: #d0ddd2;
  margin: 3rem 20px 0 20px;
  line-height: 3rem;
}

.memory {
    display: inline-block;
}

.memory,
header,
#diamond,
#error,
#memories > li:before,
footer {
  animation: fuzz 0.04s infinite;
  left: 0;
}

@keyframes fuzz {
  0%  {opacity: 1; left: 0;}
  50% {opacity: 0.98; left: 1px;}
  100% {opacity: 1; left: 0;}
}

li:nth-child(1) {
  opacity: 0.10;
  -webkit-filter: blur(3px) grayscale(90%);
  filter: blur(3px) grayscale(90%);
}

li:nth-child(2) {
  opacity: 0.20;
  -webkit-filter: blur(2px) grayscale(80%);
  filter: blur(2px) grayscale(80%);
}

li:nth-child(3) {
  opacity: 0.30;
  -webkit-filter: blur(1px) grayscale(70%);
  filter: blur(1px) grayscale(70%);
}

li:nth-child(4) {
  opacity: 0.40;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}

li:nth-child(5) {
  opacity: 0.50;
}

li:nth-child(6) {
  opacity: 0.60;
}

li:nth-child(7) {
  opacity: 0.70;
}

li:nth-child(8) {
  opacity: 0.80;
}

li:nth-child(9) {
  opacity: 0.90;
}

a:link,
a:visited {
  color: #8fe81f
}

input[type=text] {
  font: 400 200%/1.625 'Averia Sans Libre';
  padding: 1.5rem 60px;
  background: url('bg-wave.gif');
  background-size: 100% 100%;
  color: #d0ddd2;
  border: none;
  text-align: center;
  max-width: 100%;
  opacity: 0.7;
  -webkit-filter: blur(5px) grayscale(20%);
  filter: blur(5px) grayscale(20%);
}

input[type=text]:focus {
  outline: none;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

ol li form {
  display: inline-block;
}

ol li form input[value=Forget] {
  /* forget */
  font: 400 0.75rem/1.5rem 'Averia Sans Libre';
  border: none;
  padding: 0 10px;
  font-weight: bold;
  z-index: 0;
  width: 100%;
  background: #8fe81f;
  cursor: crosshair;
}

ol li a {
  display: block;
  float: left;
}

a + form {
    width: 6rem;
    transform: rotate(45deg);
    position: absolute;
    float: left;
    margin-left: -5rem;
}

footer {
    z-index: 0;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

iframe {
  display: none;
}

#flash {
  color: #fff430;
}

#error {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #e82b7a;
  position: fixed;
  padding-top: 3rem;
    background: url('error.gif') no-repeat center center fixed #ff0000;
    background-size: cover;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    animation: fadeOut 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: hidden;  }
}

/* Mobile/responsive stuff... */

@media screen and (max-width: 540px)
{

  html, body {
      background: rgba(33, 33, 33, 1);
      background-color: #000;
  }

  body {
    padding: 0 20px;
  }
}
