/* Grey: #d0ddd2
 * Yellow: #fff430
 * Magenta: #e82b7a
 * Green: 8fe81f
 * Black: #212121
 */

@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700,700italic,400italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('bg-green.gif') no-repeat center center fixed #000;
  background-size: cover;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  text-align: center;
  max-width: 100vw;
  word-break: break-all;
}

body {
  font: 400 200%/1.5 'Averia Sans Libre';
  background: rgba(33, 33, 33, 0.92);
  color: #d0ddd2;
  padding: 0 60px;
}

header {
  padding: 1.5rem 0;  
  color: #e82b7a;
  font-weight: 700;
}

h1, h2 {
  color: #fff430;
}

h1 {
  font-size: 261.79%; 
  line-height: 3rem;
}

h1 a:link,
h1 a:visited {
  color: #fff430;
  text-decoration: none;
}

h2 {
  font-size: 138.2%;
  line-height: 1.5rem;
}

ol {
  list-style-type: none;
  counter-reset: item 11;
  margin: 1.5rem 20px;
}

ol > li {
  counter-increment: item -1;
}

ol > li:before {
  content: counter(item) ". ";
  color: #e82b7a;
  display: inline-block;
  padding-right: 10px;
  font-weight: 700;
}

li {
  color: #d0ddd2;
}

li + li {
  margin-top: 1.5rem;
}

a:link,
a:visited {
  color: #8fe81f
}

input[type=text] {
  font: 400 200%/1.625 'Averia Sans Libre';
  padding: 1.5rem 60px;
  background: url('bg-wave.gif');
  background-size: 100% 100%;
  color: #d0ddd2;
  border: none;
  outline: none;
  text-align: center;
  max-width: 100%;
}

footer {
  display: inline-block;
  font-size: 61.8%;
  margin: 1.5rem 0;
}

iframe {
  display: none;
}

/* Mobile/responsive stuff... */

@media screen and (max-width: 400px)
{

  h1, header {
    margin-top: 0;
    padding-top: 0;
    line-height: 1.5rem;
  }

  h1 {
    line-height: 1;
    line-height: 3rem;
  }
}
