<!DOCTYPE html>
<html>
  <head>
      <title>S T A T I C F U Z Z</title>
      <meta charset="UTF-8">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script>
          function repeatMe(){
              $.ajax({
                  url: "{{ url_for('list_memories') }}",
                  dataType: 'json',
                  cache: true,
                  timeout: "{{ config.TIMEOUT }}",
                  success: function(data) {
                      $('#memories').empty();
                      $.each(data, function(i, data){ 
                          $('#memories').append('<li>'+data.memory);
                          {% if session.logged_in %}
                              $('#memories').append('<form action={{ url_for("forget") }} method=post>');
                              $('#memories').append('<input type="hidden" name="id" value='+data.id+'>');
                              $('#memories').append('<input type="submit" value="Forget">');
                              $('#memories').append('</form>');
                          {% endif %}
                          $('#memories').append('</li>');
                      });
                  },
                  error: function(){
                      $('#memories').empty();
                      $('#memories').append('<li>Error');
                  }
              });
          }
          
          setInterval(repeatMe, "{{ config.REFRESH }}");
      </script>
    </head>
    <body>
      <header>
        <h1><a href="/">STATICFUZZ</a></h1>
        <p>Here for a blink of an eye.</p>
      </header>
      <main>
	    {% block body %}{% endblock %}
      </main>
      <footer>
        <p>10 anonymous memories, from oldest to newest.</p>

        <p>New memories make me forget old ones.</p>
        
        <p>The <a href="https://github.com/hypatia-software-org/staticfuzz">
        staticfuzz GitHub repository</a> is maintained by
        <a href="http://hypatia.software">Hypatia Software Organization</a>.</p>

        {% if config.BACKGROUND_MP3 %}
          <audio controls>
            <source src="{{ config.BACKGROUND_MP3 }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        {% endif %}

        {% if not session.logged_in %}
          <p><a href="{{ url_for('login') }}">god?</a></p>
		{% else %}
          <p><a href="{{ url_for('logout') }}">goodbye</a></p>
		{% endif %}
      </footer>
    </body>
</html>
