<!DOCTYPE html>
<html>
  <head>
      <title>S T A T I C F U Z Z</title>
      <meta charset="UTF-8">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script>
          function repeatMe(){
              $.ajax({
                  url: "{{ url_for('list_memories') }}",
                  dataType: 'json',
                  cache: true,
                  timeout: 30000,
                  success: function(data) {
                      $('#memories').empty();
                      $.each(data, function(i, data){ 
                          $('#memories').append('<li>'+data.memory);
                          {% if session.logged_in %}
                              $('#memories').append('<form action={{ url_for("forget") }} method=post>');
                              $('#memories').append('<input type="hidden" name="id" value='+data.id+'>');
                              $('#memories').append('<input type="submit" value="Forget">');
                              $('#memories').append('</form>');
                          {% endif %}
                          $('#memories').append('</li>');
                          //setTimeout(repeatMe, 5000);
                      });
                  },
                  error: function(){
                      $('#memories').empty();
                      $('#memories').append('<li>Error');
                      //setTimeout(repeatMe, 5000);
                  }
              });
          }
          
          setInterval(repeatMe, 5000);
      </script>
    </head>
    <body>
      <header>
        <h1><a href="/">STATICFUZZ</a></h1>
        <p>Here for a blink of an eye.</p>
      </header>
      <main>
 	    {% for message in get_flashed_messages() %}
		  {{ message }}
	    {% endfor %}
	    {% block body %}{% endblock %}
      </main>
      <footer>
        Nothing here is remembered by us.
        
        The <a href="https://github.com/hypatia-software-org/staticfuzz">
        staticfuzz GitHub repository</a> is maintained by
        <a href="http://hypatia.software">Hypatia Software Organization</a>.

        {% if not session.logged_in %}
			<a href="{{ url_for('login') }}">god?</a>
		{% else %}
			<a href="{{ url_for('logout') }}">goodbye</a>
		{% endif %}
      </footer>
    </body>
</html>
