{% extends "layout.html" %}
{% block body %}

  <ol id="memories">
    {% for memory in memories %}
      <li>{{ memory.memory }}
        {% if session.logged_in %}
          <form action="{{ url_for('forget') }}" method=post>
            <input type="hidden" name="id" value={{ memory.id }}>
            <input type="submit" value="Forget">
          </form>
        {% endif %}
	{% else %}
      <li><em>I shouldn't exist.</em>
	{% endfor %}
  </ol>

  {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
  {% endfor %}

  <form action="{{ url_for('add_memory') }}" method=post>
    <input type="text" name="memory" autocomplete="off"
           maxlength="{{ config.MAX_CHARACTERS }}" autofocus>
  </form>

{% endblock %}
