{% extends "layout.html" %}
{% block body %}

  <ol id="memories">
    {% for memory in memories %}
      <li id="{{ memory.id }}">
        <article class="memory">
        {% if memory.base64_image %}
        <a href="{{ memory.text }}">
          <img src="data:image/png;base64,{{ memory.base64_image }}" alt="{{ memory.id }}">
        </a>
        {% else %}
        {{ memory.text}}
        {% endif %}

        {% if session.logged_in %}
          <form action="{{ url_for('forget') }}" method=post>
            <input type="hidden" name="id" value={{ memory.id }}>
            <input type="submit" value="Forget">
          </form>
        {% endif %}
        </article>
      </li>
	{% endfor %}
  </ol>

  {% for message in get_flashed_messages() %}
    <p id="flash">{{ message }}</p>
  {% endfor %}

  <form action="{{ url_for('new_memory') }}" id="diamond" method=post>
    <input type="text" name="text" autocomplete="off"
           maxlength="{{ config.MAX_CHARACTERS }}" autofocus>
  </form>

{% endblock %}
